.head{
  display: flex;
  flex-direction: row;
  margin: 150px 0 0 0;
}

.portfolio3BlocksBody{
  display: flex;
  flex-direction: column;
  // padding: 1px;
  &>div {
    &:hover {
      background-color: #f77b62;
      // margin: 150px
      border-radius: 0;
      box-shadow: none;
      background-color: #ffffff;
    }
  }
}
.bodyIcon{
  width: 100%
}
.portfolio3BlocksBody h3{
  margin: 0;
}

.portfolio3BlocksBody :hover{
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
  background-color: #f77b62;
  // margin: 150px
  border-radius: 8px;
  box-shadow: 0 15px 30px 0 rgba(56, 42, 115, 0.08);
  background-color: #ffffff;
}
.portfolioText h3{
  height: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #2f2f2f;
  text-align: left;
  padding-left: 25px;
}
.portfolioText span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #2f2f2f;
}
.readMore{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #f77b62;
  padding: 25px;
  cursor: pointer;
  background-image: url(assets/arrow.svg);
  background-repeat: no-repeat;
  background-position: 122px 31px;  
}