.privacyall{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 150px;

}
.privacyOmisoft{
  height: 16px;
font-family: Montserrat;
font-size: 10px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.6;
letter-spacing: normal;
color: #2f2f2f;
}
.privacy{
  height: 16px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #2f2f2f;
  text-decoration: underline;
  cursor: pointer;
}
.privacy:hover{
  text-decoration: none;
}