 .rounds2,  .rounds4,  .rounds6{
  width: 138px;
  height: 138px;
  box-shadow: 0 8px 16px 0 rgba(29, 32, 38, 0.3);
  background-color: #ffffff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rounds1,.rounds3,.rounds5{
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 16px 0 rgba(29, 32, 38, 0.3);
  background-color: #ffffff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allRounds{
  display: flex;
  position: relative;
}
.allRounds div{
  position: absolute;
}
.rounds1{
  top: 80px;
  right: 90px;
}
.rounds1 img {
}
.rounds2{
  right: 600px;
  top: 100px;
}
.rounds2 img {
  width: 70px;
}
.rounds3{
  top: 400px;
  right: 710px
}
.rounds3 img{
  width: 60px;
}
.rounds4{
  bottom: 50px;
  right: 750px;
}
  // background-image: url(assets/Java_Logo.svg.png);

.rounds4 img {
}
.rounds5{
  bottom: 100px;
  right: 300px;
}
.rounds5 img{

}
.rounds6{
  right: 230px;
  top: 250px;
}
.rounds6 img{

}