.setionTechnologiesMain{
  display: flex;
  margin: 150px 0 0 150px;

}
 .wrap{
   display: flex;
   flex-direction: row;
   justify-content: space-between;

 }
 .cloudTechnologies{
  background-image: url(assets/cloud_technologies.png);
  background-repeat: no-repeat;
  width: 29%;
  height: 128px;
  position: absolute;
  bottom: 0%;
  z-index: 6;
  left: 71%;
 }
//  .bottomWave{
//   background-image: url(assets/wave.png);
//   background-repeat: no-repeat;
//   width: 29%;
//   height: 128px;
//   position: absolute;
//   bottom: 0%;
//   z-index: 6;
//   left: 71%;
//  }
//  .topWave{
//   background-image: url(assets/topWave.png);
//   width: 100%;
//   height: 221px;
//   position: absolute;
//   bottom: 0%;
//   z-index: 6;
//   left: 0%;
//   top: -9%;
//  }