.first{
  padding-top:20px; 
  position: relative;
}
body{
  margin: 0;
}
$darkBlue: #00105E;
$lightBlue: #001580;
$white: rgba(255, 255, 255, .5);

@function randomShadows($count) {
   $randomX: random(2000);
   $randomY: random(2000);
  $boxShadow: '#{$randomX}px #{$randomY}px #{$white}';
 @for $i from 1 through $count {
   $randomX: random(2000);
   $randomY: random(2000);
   $boxShadow : $boxShadow + ', #{$randomX}px #{$randomY}px #{$white}';
  }
  @return unquote($boxShadow);
}

root {
  font-size: 10px;
}

.first {
  background-image: linear-gradient($darkBlue, $lightBlue);
  min-height: 800px;
}

.stars1 {
  box-shadow: randomShadows(100);
  height: .5rem;
  transition: all .2s linear;
  width: .5rem;
}

.stars2 {
  box-shadow: randomShadows(200);
  height: .3rem;
  transition: all .2s linear;
  width: .3rem;
}

.stars3 {
  box-shadow: randomShadows(300);
  height: .1rem;
  transition: all .2s linear;
  width: .1rem;
}
.mainCloud{
  background-image: url(assets/cloud_main_screen.png);
  // background-image: url(assets/roket.png);
  background-repeat:no-repeat; 
  width: 100%;
  height: 400px;
  position: absolute;
  top: 68%;
  z-index: 5;
}
.mainCloud_right{
  background-image: url(assets/cloud_3.png);
  // background-image: url(assets/roket.png);
  background-repeat:no-repeat; 
  background-position: right;
  width: 100%;
  height: 413px;
  position: absolute;
  top: 65%;
  z-index: 4;
}
.mainCloud_right2{
  background-image: url(assets/cloud_2.png);
  // background-image: url(assets/roket.png);
  background-repeat:no-repeat; 
  background-position: center;
  width: 100%;
  height: 413px;
  position: absolute;
  top: 67%;
  z-index: 6;
}
.mainCloud_left{
  background-image: url(assets/cloud_1.png);
  // background-image: url(assets/roket.png);
  background-repeat:no-repeat; 
  background-position: left;
  width: 100%;
  height: 413px;
  position: absolute;
  top: 67%;
  z-index: 3;
}
.mainCloud_center{
  background-image: url(assets/cloud_4.png);
  // background-image: url(assets/roket.png);
  background-repeat:no-repeat; 
  background-position: right;
  width: 100%;
  height: 413px;
  position: absolute;
  top: 60%;
  z-index: 3;
}