.first{
  padding-top:20px; 
}
body{
  margin: 0;
}
$darkBlue: #00105E;
$lightBlue: #001580;
$white: rgba(255, 255, 255, .5);

@function randomShadows($count) {
   $randomX: random(2000);
   $randomY: random(2000);
  $boxShadow: '#{$randomX}px #{$randomY}px #{$white}';
 @for $i from 1 through $count {
   $randomX: random(2000);
   $randomY: random(2000);
   $boxShadow : $boxShadow + ', #{$randomX}px #{$randomY}px #{$white}';
  }
  @return unquote($boxShadow);
}

root {
  font-size: 10px;
}

.first {
  background-image: linear-gradient($darkBlue, $lightBlue);
  min-height: 800px;
}

.stars1 {
  box-shadow: randomShadows(100);
  height: .5rem;
  transition: all .2s linear;
  width: .5rem;
}

.stars2 {
  box-shadow: randomShadows(200);
  height: .3rem;
  transition: all .2s linear;
  width: .3rem;
}

.stars3 {
  box-shadow: randomShadows(300);
  height: .1rem;
  transition: all .2s linear;
  width: .1rem;
}
