.logo{
  background-image: url(assets/footer_logo.svg);
  background-repeat: no-repeat;
  width: 13%;
  height: 56px;
}
.footerContainer{
  height: 400px;
  margin: 215px 150px 0 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.drop{
  display: flex;
  flex-direction: column;
}
.socialLink{
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-shadow: 0 4px 10px 0 rgba(247, 123, 98, 0.34);
  background-color: #f77b62;
  margin-right: 24px;
  cursor: pointer;
}
.social{
  display:  flex;
  flex-direction: row; 
}

.drop h4, .getInTouch h4, .label{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #2f2f2f;
  margin: 0 0 24px 0;
}

.href a{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #f77b62;
  padding-bottom: 5px;
  text-decoration: none;
}
.href a:hover{
 text-decoration: underline;
}
.nav_listFoo{
  height: 30px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #2f2f2f;
  padding: 8px 0;
  cursor: pointer;
}
.nav_listFoo:first-child{
  padding:0 0 8px 0; 
}
.nav_listFoo div:hover{
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #8187a7;
}
.footerMenu {
  display: flex;
    flex-direction: column;
    justify-content: left;
}
.footerMenu ul{
  list-style: none;
  padding: 0;
margin: 0;
}
.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialLink a{
  text-decoration: none;
  color: #ffffff;
}
.in{
background-image: url(assets/linkedin.svg);
}
.f{
  background-image: url(assets/facebook.svg);
  }
.t{
  background-image: url(assets/send.svg);
}
.f,.t,.in{
  height: 24px;
  width: 22px;
  filter: invert(1);
  background-repeat: no-repeat;
}