.logo{
  background-image: url(assets/footer_logo.svg);
  background-repeat: no-repeat;
  width: 13%;
  height: 56px;
}
.footerContainer{
  height: 400px;
  margin: 215px 150px 0 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.drop{
  display: flex;
  flex-direction: column;
}
.socialLink{
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-shadow: 0 4px 10px 0 rgba(247, 123, 98, 0.34);
  background-color: #f77b62;
  margin-right: 24px;
}
.social{
  display:  flex;
  flex-direction: row; 
}

.drop h4, .getInTouch h4{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #2f2f2f;
  margin: 0 0 24px 0;
}

.href a{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #f77b62;
  padding-bottom: 5px;
  text-decoration: none;
}